<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" crossorigin="anonymous">
    <style>
      .custom-table {
          font-size: 1.5em; /* Adjust the font size as needed */
      }
  </style>

    <title>Tiger Plast</title>
  </head>
  <body class="text-right">
    <div class="container-fluid text-right">
      <nav class="navbar navbar-expand-lg navbar-light bg-light ">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item"><a href="{{ url_for('logout') }}" class="nav-link btn btn-outline-danger btn-lg mr-3">Logout</a></li>
          <li class="nav-item"><a href="{{ url_for('add') }}" class="nav-link btn btn-outline-primary btn-lg mr-3">اضافه اوردر</a></li>
          <li class="nav-item"><a href="{{ url_for('homepage') }}" class="nav-link btn btn-outline-primary  btn-lg mr-3">اوردرات</a></li>
        </ul>
      </nav>
      <br>
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          {% for message in messages %}
          <div class="alert alert-primary">
            {{ message }}
          </div>
          {% endfor %}
        {% endif %}
      {% endwith %}
      <br>
      {% block main %}{% endblock %}
    </div>
  </body>
</html>
