{% extends "base.html" %}

{% block main %}
<div class="container mt-5">
  <div class="row">
      {% for group, items in grouped_data.items() %}
          <div class="col-md-6">
              <div class="card mb-4">
                  <div class="card-body custom-table">
                      <h5 class="card-title custom-table">{{ items[0][5] }}</h5>
                      <ul>
                          <table class="table text-center ">
                              <thead>
                              <tr>
                                  <th>ملاحظات</th>
                                  <th>مقاس</th>
                                  <th>وزن</th>
                                  <th>التاريخ</th>
                              </tr>
                              </thead>
                              <tbody>
                              {% for item in items %}
                                  <tr>
                                      <td>{{ item[4] }}</td>
                                      <td>{{ item[2] }}x{{ item[1] }}</td>
                                      <td>{{ item[3] }}</td>
                                      <td>{{ item[0] }}</td>
                                  </tr>
                              {% endfor %}
                              </tbody>
                          </table>
                      </ul>
                      <a href="{{ url_for('edit', task_id=group) }}" class="btn btn-primary">Edit</a>
                      <a href="{{ url_for('delete', task_id=group) }}" class="btn btn-danger">Delete</a>
                  </div>
              </div>
          </div>
      {% endfor %}
  </div>
</div>
{% endblock %}
